@use '../main';
.post{

  &-grid{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10%;
  }

  &-card{
    margin:10px;
    box-shadow: 10px 10px 10px hotpink;
    border-radius: 10px;
    width: 30%;
    background-color: lightpink;
    padding: 10px;
  }
}
h1{
  text-align: center;
}
header p{
  text-align: center;
}